#W
data_in_left\[\d+\]
data_out_left\[\d+\]

#N
data_out_right_up\[\d+\]
data_in_right_up\[\d+\]

#S
data_out_right_down\[\d+\]
data_in_right_down\[\d+\]

#E
sel\[\d+\]
flag\[\d+\]
chip_sel
chip_sel_out\[\d+\]
